/* 	메인칼라 : green
	강조색: toamto
	메인 배경 : #b1f2b1
*/
*{
	margin:0;
	padding:0;
}

body{
	width:960px;
	margin:auto;
}

h1 {
	color:green;
	font-size=30px;
	border-bottom:3px solid green;
	margin:10px;
}


p{ 	padding:20px;
	margin:10px;
}

kbd{
	border:1px solid black;
	padding:2px 4px;
}

ul{	margin:10px 20px;
	list-style-type:square}
ol{	margin:10px 20px;
	list-style-type:upper-roman}
li{	margin:0 20px;}

