div#main_pic{
	padding:5px;
}
div#news{
	padding:5px;
}
section#new_course{
	width:400px;
	padding:5px;
	float:left;
}
section#new_info{
	width:400px;
	padding:5px;
	float:left;
}
article{
	width:375px;
	padding:5px;
	float:right;
}
